.item-form {
  margin-bottom: 10px;
}

.item-form input {
}

.btn-payment {
  text-align: right;
}

.row-total-price {
  text-align: right;
}

.ShowSearchResult {
  margin: 10px 0;
  box-shadow: 10px 10px 10px #00000021;
}
