<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 item-form">
      <h1 style="text-align: center">Máy bán hàng</h1>
    </div>
    <div class="col-md-12 item-form">
      <div class="form-group">
        <label for="goodsCode">Mã sản phẩm</label>
        <input
          type="text"
          class="form-control"
          name="goodsCode"
          id="goodsCode"
          placeholder=""
          [(ngModel)]="goodsCode"
          (keydown.enter)="onSearchGoods($event)"
        />
      </div>
    </div>
    <div class="col-md-3 item-form">
      <div class="form-group">
        <label for="goodsName">Tên sản phẩm</label>
        <input
          type="text"
          class="form-control"
          name="goodsName"
          id="goodsName"
          [(ngModel)]="goodsName"
          placeholder=""
          readonly
        />
      </div>
    </div>
    <div class="col-md-3 item-form">
      <div class="form-group">
        <label for="price">Giá sản phẩm</label>
        <input
          type="text"
          class="form-control"
          name="price"
          id="price"
          placeholder=""
          [(ngModel)]="price"
          readonly
        />
      </div>
    </div>
    <div class="col-md-3 item-form">
      <div class="form-group">
        <label for="unitName">Đơn vị tính</label>
        <input
          type="text"
          class="form-control"
          name="unitName"
          id="unitName"
          [(ngModel)]="unitName"
          placeholder=""
          readonly
        />
      </div>
    </div>
    <div class="col-md-3 item-form">
      <div class="form-group">
        <label for="quantity">Số lượng sản phẩm</label>
        <input
          type="text"
          class="form-control"
          name="quantity"
          id="quantity"
          [(ngModel)]="quantity"
          placeholder=""
          (keyup)="onCalTotalPrice()"
        />
      </div>
    </div>
    <div class="col-md-12 item-form">
      <div class="form-group">
        <label for="totalUnitPrice">Tổng tiền</label>
        <input
          type="text"
          class="form-control"
          name="totalUnitPrice"
          id="totalUnitPrice"
          [(ngModel)]="totalUnitPrice"
          placeholder=""
          readonly
        />
      </div>
    </div>
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" (click)="onAdd()">
        Thêm
      </button>
    </div>
    <div class="product-added">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Mã</th>
            <th>Tên</th>
            <th>Đơn vị tính</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data_buy; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.goodsCode }}</td>
            <td>{{ item.goodsName }}</td>
            <td>{{ item.unitName }}</td>
            <td>{{ item.price | customCurrencyPipe }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price * item.quantity | customCurrencyPipe }}</td>
          </tr>
          <tr>
            <td colspan="5"></td>
            <td style="font-weight: bold">Tổng hóa đơn</td>
            <td style="color: darkgreen">
              {{ totalBill | customCurrencyPipe }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12 item-form btn-payment">
      <button type="button" class="btn btn-success">Thanh toán</button>
    </div>
  </div>
</div>
