USE [MasterShop]
GO
/****** Object:  Schema [CORE]    Script Date: 01/22/2025 08:54:37 ******/
CREATE SCHEMA [CORE] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [SHOP]    Script Date: 01/22/2025 08:54:37 ******/
CREATE SCHEMA [SHOP] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [WH]    Script Date: 01/22/2025 08:54:37 ******/
CREATE SCHEMA [WH] AUTHORIZATION [dbo]
GO
/****** Object:  Table [CORE].[Unit]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CORE].[Unit](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [CORE].[Unit] ([Id], [Name], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status]) VALUES (N'73f73f37-3bd9-495d-cc00-08dd3856006d', N'Kiện/Hộp/Bao/Gói', CAST(0x0777792B7574C5470B AS DateTime2), CAST(0x0795792B7574C5470B AS DateTime2), N'admin', N'admin', 0)
INSERT [CORE].[Unit] ([Id], [Name], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status]) VALUES (N'be150ab8-6f08-432b-cc01-08dd3856006d', N'Gói', CAST(0x07FBAAC47B74C5470B AS DateTime2), CAST(0x0708ABC47B74C5470B AS DateTime2), N'admin', N'admin', 0)
INSERT [CORE].[Unit] ([Id], [Name], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status]) VALUES (N'7c7fe133-93b0-4c4b-cc02-08dd3856006d', N'Gam', CAST(0x07A028D97F74C5470B AS DateTime2), CAST(0x07A928D97F74C5470B AS DateTime2), N'admin', N'admin', 0)
/****** Object:  Table [SHOP].[TransactionRetail]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SHOP].[TransactionRetail](
	[Id] [uniqueidentifier] NOT NULL,
	[GoodsId] [uniqueidentifier] NOT NULL,
	[GoodsCode] [nvarchar](max) NOT NULL,
	[GoodsName] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TransDetailId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TransactionRetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [WH].[TransactionDetail]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WH].[TransactionDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[TransactionId] [uniqueidentifier] NOT NULL,
	[GoodsId] [uniqueidentifier] NOT NULL,
	[SupplierId] [uniqueidentifier] NOT NULL,
	[UnitId] [uniqueidentifier] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[DateOfManufacture] [datetime2](7) NULL,
	[DateOfExpired] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_TransactionDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [WH].[Transaction]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WH].[Transaction](
	[Id] [uniqueidentifier] NOT NULL,
	[TransactionCode] [nvarchar](max) NULL,
	[TransactionType] [nvarchar](max) NULL,
	[TransactionDate] [datetime2](7) NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[StockId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [WH].[Transaction] ([Id], [TransactionCode], [TransactionType], [TransactionDate], [TotalPrice], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [StockId]) VALUES (N'55572753-c01e-433f-95c0-11d9f8ec4077', N'N1737468603333', N'0', CAST(0x070000000000C7470B AS DateTime2), CAST(182000.00 AS Decimal(18, 2)), CAST(0x076A5C2EF8B1C7470B AS DateTime2), CAST(0x076E5C2EF8B1C7470B AS DateTime2), N'admin', N'admin', 0, N'7fdd1e12-1cef-4db0-ec49-08dd3855a1f3')
INSERT [WH].[Transaction] ([Id], [TransactionCode], [TransactionType], [TransactionDate], [TotalPrice], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [StockId]) VALUES (N'a7242328-a85f-42e5-a36c-2a4d6902a5c2', N'N1737464785564', N'0', CAST(0x070000000000C7470B AS DateTime2), CAST(16000000.00 AS Decimal(18, 2)), CAST(0x07A9482FE6A8C7470B AS DateTime2), CAST(0x07AD482FE6A8C7470B AS DateTime2), N'admin', N'admin', 0, N'7fdd1e12-1cef-4db0-ec49-08dd3855a1f3')
INSERT [WH].[Transaction] ([Id], [TransactionCode], [TransactionType], [TransactionDate], [TotalPrice], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [StockId]) VALUES (N'0dffa30b-c79b-4c4a-8a6b-2b565066db03', N'N1737467348524', N'0', CAST(0x070000000000C7470B AS DateTime2), CAST(30000.00 AS Decimal(18, 2)), CAST(0x07120A149FAEC7470B AS DateTime2), CAST(0x07160A149FAEC7470B AS DateTime2), N'admin', N'admin', 0, N'7fdd1e12-1cef-4db0-ec49-08dd3855a1f3')
/****** Object:  Table [CORE].[Supplier]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CORE].[Supplier](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CORE].[Stock]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CORE].[Stock](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [CORE].[Stock] ([Id], [Name], [Address], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status]) VALUES (N'7fdd1e12-1cef-4db0-ec49-08dd3855a1f3', N'Cửa hàng', N'Táp hóa Tặng Tho, thôn Tiền Phong, xã Trực Đại, huyện Trực Ninh, tỉnh Nam Định', CAST(0x07ACF6A91674C5470B AS DateTime2), CAST(0x07B5F6A91674C5470B AS DateTime2), N'admin', N'admin', 0)
/****** Object:  Table [WH].[Order]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WH].[Order](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[CustomerAddress] [nvarchar](max) NOT NULL,
	[CustomerPhone] [nvarchar](max) NOT NULL,
	[CustomerEmail] [nvarchar](max) NULL,
	[CustomerNote] [nvarchar](max) NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[GoodsId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SHOP].[MediaManager]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SHOP].[MediaManager](
	[Id] [uniqueidentifier] NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_MediaManager] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [WH].[Inventory]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WH].[Inventory](
	[Id] [uniqueidentifier] NOT NULL,
	[StockId] [uniqueidentifier] NULL,
	[GoodsId] [uniqueidentifier] NULL,
	[Quantity] [int] NOT NULL,
	[UnitId] [uniqueidentifier] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [WH].[GoodsRetail]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WH].[GoodsRetail](
	[Id] [uniqueidentifier] NOT NULL,
	[GoodsId] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TransDetailId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[GoodsCode] [nvarchar](max) NOT NULL,
	[GoodsName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GoodsRetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [WH].[GoodsRetail] ([Id], [GoodsId], [Price], [TransDetailId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [GoodsCode], [GoodsName]) VALUES (N'a35d648c-b153-4240-3315-08dd3a195224', N'40ce13fa-76e7-4c3f-775c-08dd39f509b5', CAST(30000.00 AS Decimal(18, 2)), N'033cf9e1-6f9a-4bc8-a0e1-2458843d0f1f', CAST(0x077C6D8678A8C7470B AS DateTime2), CAST(0x077F6D8678A8C7470B AS DateTime2), N'admin', N'admin', 0, N'8936025774836', N'Sữa kun thách')
INSERT [WH].[GoodsRetail] ([Id], [GoodsId], [Price], [TransDetailId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [GoodsCode], [GoodsName]) VALUES (N'f509767d-d64e-4dfd-3316-08dd3a195224', N'08993329-9d02-45d0-7757-08dd39f509b5', CAST(17000.00 AS Decimal(18, 2)), N'f71fdbf8-6937-421c-99e2-a82863f95643', CAST(0x0791A98678A8C7470B AS DateTime2), CAST(0x0794A98678A8C7470B AS DateTime2), N'admin', N'admin', 0, N'8934673300537', N'Vinamilk SuSu')
INSERT [WH].[GoodsRetail] ([Id], [GoodsId], [Price], [TransDetailId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status], [GoodsCode], [GoodsName]) VALUES (N'ad09def2-7022-4dec-3317-08dd3a195224', N'7351ec8c-90e3-463b-775d-08dd39f509b5', CAST(20000.00 AS Decimal(18, 2)), N'6540b8a5-059e-49b8-9d43-ed025663ce62', CAST(0x07F1CE8678A8C7470B AS DateTime2), CAST(0x07F4CE8678A8C7470B AS DateTime2), N'admin', N'admin', 0, N'8934804025766', N'Sữa milo 180ml')
/****** Object:  Table [CORE].[Goods]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CORE].[Goods](
	[Id] [uniqueidentifier] NOT NULL,
	[GoodsCode] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [CORE].[Goods] ([Id], [GoodsCode], [Name], [Description], [CategoryId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status]) VALUES (N'd16da865-fae8-4506-4993-08dd39e996b1', N'4897106554980', N'Konjac jelly', N'', N'c22afddb-4bff-4651-6867-08dd384e4298', CAST(0x0719759BB675C7470B AS DateTime2), CAST(0x0728759BB675C7470B AS DateTime2), N'admin', N'admin', 0)
INSERT [CORE].[Goods] ([Id], [GoodsCode], [Name], [Description], [CategoryId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status]) VALUES (N'df64ee90-bc4e-4161-4994-08dd39e996b1', N'8936048876272', N'Xúc xích YDC ăn liên vị cay', N'', N'c22afddb-4bff-4651-6867-08dd384e4298', CAST(0x07E6CB38D475C7470B AS DateTime2), CAST(0x07EECB38D475C7470B AS DateTime2), N'admin', N'admin', 0)
INSERT [CORE].[Goods] ([Id], [GoodsCode], [Name], [Description], [CategoryId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status]) VALUES (N'7a8114f2-e60b-46de-4995-08dd39e996b1', N'6976953430017', N'Xúc xích Shitusiren', N'', N'c22afddb-4bff-4651-6867-08dd384e4298', CAST(0x070B36571C76C7470B AS DateTime2), CAST(0x071636571C76C7470B AS DateTime2), N'admin', N'admin', 0)
GO
print 'Processed 100 total records'
/****** Object:  Table [CORE].[Category]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CORE].[Category](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ParentId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedBy] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [CORE].[Category] ([Id], [Name], [ParentId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status]) VALUES (N'c22afddb-4bff-4651-6867-08dd384e4298', N'Đồ ăn vặt', N'00000000-0000-0000-0000-000000000000', CAST(0x07B4D254B76CC5470B AS DateTime2), CAST(0x07C4D254B76CC5470B AS DateTime2), N'admin', N'admin', 0)
INSERT [CORE].[Category] ([Id], [Name], [ParentId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status]) VALUES (N'bdc2ea7e-ac27-452c-6868-08dd384e4298', N'Vàng mã', N'00000000-0000-0000-0000-000000000000', CAST(0x07578B13D66CC5470B AS DateTime2), CAST(0x07678B13D66CC5470B AS DateTime2), N'admin', N'admin', 0)
INSERT [CORE].[Category] ([Id], [Name], [ParentId], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status]) VALUES (N'87372623-a851-4ed3-6869-08dd384e4298', N'Dụng cụ học tập', N'00000000-0000-0000-0000-000000000000', CAST(0x073C3DA6DC6CC5470B AS DateTime2), CAST(0x07433DA6DC6CC5470B AS DateTime2), N'admin', N'admin', 0)
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01/22/2025 08:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250107183641_InitDatabase', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250108091357_AddStockIdIntoTransaction', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250113065522_AddTableGoodsPrice', N'9.0.0')
/****** Object:  Default [DF__Transacti__Total__1A14E395]    Script Date: 01/22/2025 08:54:37 ******/
ALTER TABLE [SHOP].[TransactionRetail] ADD  DEFAULT ((0.0)) FOR [TotalPrice]
GO
/****** Object:  Default [DF__GoodsReta__Goods__164452B1]    Script Date: 01/22/2025 08:54:37 ******/
ALTER TABLE [WH].[GoodsRetail] ADD  DEFAULT (N'') FOR [GoodsCode]
GO
/****** Object:  Default [DF__GoodsReta__Goods__173876EA]    Script Date: 01/22/2025 08:54:37 ******/
ALTER TABLE [WH].[GoodsRetail] ADD  DEFAULT (N'') FOR [GoodsName]
GO
/****** Object:  Default [DF__Transacti__Stock__108B795B]    Script Date: 01/22/2025 08:54:37 ******/
ALTER TABLE [WH].[Transaction] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [StockId]
GO
