<div class="title-page">
  <h2 class="title">Tạo phiếu</h2>
</div>
<div class="form-custom">
  <section class="transaction">
    <div class="transaction-header">
      <div class="transaction-header__action">
        <button type="button" class="btn btn-danger mr-5" (click)="onCancel()">
          Hủy
        </button>
        <button type="button" class="btn btn-success mr-5" (click)="onSave()">
          Lưu
        </button>
      </div>
    </div>
    <div class="transaction-body">
      <div class="transaction-body__form">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="transaction-code">Loại phiếu</label>
              <select class="form-control" [formControl]="transactionType">
                <option value="" disabled>Chọn</option>
                <option
                  *ngFor="let item of listTransactionType"
                  [value]="item.id"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="transaction-code">Kho nhập</label>
              <select class="form-control" [formControl]="stockId">
                <option value="">Chọn</option>
                <option *ngFor="let item of stocks" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="transaction-code"
                >Mã phiếu{{
                  transactionType.value == ""
                    ? ""
                    : transactionType.value == "0"
                    ? " nhập"
                    : " xuất"
                }}</label
              >
              <input
                type="text"
                id="transaction-code"
                class="form-control"
                [formControl]="transactionCode"
                readonly
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="transaction-date"
                >Thời gian{{
                  transactionType.value == ""
                    ? ""
                    : transactionType.value == "0"
                    ? " nhập"
                    : " xuất"
                }}</label
              >
              <input
                type="date"
                id="transaction-date"
                class="form-control"
                [formControl]="transactionDate"
              />
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="form-group">
              <label for="transaction-code">Kho</label>
              <input
                class="form-control"
                list="listStock"
                [formControl]="stockId"
                placeholder="Chọn"
                (keyup)="onSearchStock()"
              />
              <datalist id="listStock">
                <option *ngFor="let item of stocks" [value]="item.name">
                  {{ item.name }}
                </option>
              </datalist>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <section class="transaction-detail">
    <div class="transaction-detail-header">
      <div class="transaction-detail-header__title">
        <h3 class="title">Chi tiết phiếu</h3>
      </div>
    </div>
    <div>
      <button type="button" (click)="addItem()" class="btn btn-primary">
        Thêm hàng hóa
      </button>
    </div>
    <form [formGroup]="myForm">
      <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i = index">
          <div [formGroupName]="i">
            <div class="transaction-detail-body">
              <table class="table">
                <thead>
                  <tr>
                    <td>#</td>
                    <td>Mã</td>
                    <td>Tên</td>
                    <td>Nhà cung cấp</td>
                    <td>Đơn vị tính</td>
                    <td>NSX</td>
                    <td>HSD</td>
                    <td>Số lượng</td>
                    <td>Đơn giá</td>
                    <td>Thành tiền</td>
                    <td>#</td>
                  </tr>
                </thead>
                <tbody id="body-table-transaction-detail">
                  <tr>
                    <td>
                      {{ i + 1 }}
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        name="{{ onRewrite(i, 'goodsCode') }}"
                        id="{{ onRewrite(i, 'goodsCode', true) }}"
                        formControlName="goodsCode"
                        (keydown.enter)="onSearchProduct(i)"
                        list="lstGoods"
                      />
                      <datalist id="lstGoods">
                        <option
                          *ngFor="let itemGoods of goods"
                          [value]="itemGoods.goodsCode"
                        >
                          {{ itemGoods.name }}
                        </option>
                      </datalist>
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        name="{{ onRewrite(i, 'goodsName') }}"
                        id="{{ onRewrite(i, 'goodsName', true) }}"
                        formControlName="goodsName"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        name="{{ onRewrite(i, 'supplierId') }}"
                        id="{{ onRewrite(i, 'supplierId', true) }}"
                        formControlName="supplierId"
                        list="lstSupplier"
                        (change)="onSetProperties(i, $event, 1)"
                      />
                      <datalist id="lstSupplier">
                        <option
                          *ngFor="let supplier of suppliers"
                          [value]="supplier.name"
                        >
                          {{ supplier.id }}
                        </option>
                      </datalist>
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        name="{{ onRewrite(i, 'unitId') }}"
                        id="{{ onRewrite(i, 'unitId', true) }}"
                        formControlName="unitId"
                        list="lstUnit"
                        (change)="onSetProperties(i, $event, 2)"
                      />
                      <datalist id="lstUnit">
                        <option *ngFor="let unit of units" [value]="unit.name">
                          {{ unit.id }}
                        </option>
                      </datalist>
                    </td>
                    <td>
                      <input
                        type="date"
                        class="form-control"
                        name="{{ onRewrite(i, 'dateOfManufacture') }}"
                        id="{{ onRewrite(i, 'dateOfManufacture', true) }}"
                        formControlName="dateOfManufacture"
                      />
                    </td>
                    <td>
                      <input
                        type="date"
                        class="form-control"
                        name="{{ onRewrite(i, 'dateOfExpired') }}"
                        id="{{ onRewrite(i, 'dateOfExpired', true) }}"
                        formControlName="dateOfExpired"
                      />
                    </td>

                    <td>
                      <input
                        type="text"
                        class="form-control"
                        name="{{ onRewrite(i, 'quantity') }}"
                        id="{{ onRewrite(i, 'quantity', true) }}"
                        formControlName="quantity"
                        (keyup)="onCalTotalAmount(i)"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        name="{{ onRewrite(i, 'unitPrice') }}"
                        id="{{ onRewrite(i, 'unitPrice', true) }}"
                        formControlName="unitPrice"
                        (keyup)="onCalTotalAmount(i)"
                        #inputField
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        name="{{ onRewrite(i, 'totalAmount') }}"
                        id="{{ onRewrite(i, 'totalAmount', true) }}"
                        formControlName="totalAmount"
                        placeholder="Thành tiền"
                        readonly
                      />
                    </td>
                    <td>
                      <i
                        class="fa fa-trash"
                        (click)="removeItem(i)"
                        aria-hidden="true"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="transaction-detail-footer" *ngIf="items.controls.length > 0">
      <div class="form-group">
        <label for="">Tổng số tiền giao dịch</label>
        <input
          type="text"
          class="form-control"
          [formControl]="totalPriceDetail"
          readonly
        />
      </div>
    </div>
  </section>
</div>
