/* Desktops */
@media (min-width: 1025px) {
  .menu-area {
    height: 100vh;
  }
}
/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .menu-area {
    height: 100vh;
  }
}
.menu-area * {
  padding: 0;
  margin: 0;
}
.menu-area {
  background-color: rgb(59, 59, 59);

  .customer {
    background-color: rgb(34, 34, 34);

    .row {
      align-items: center;
      position: relative;

      .account-avatar {
        text-align: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }

      .account-name {
        color: white;
        text-align: center;
      }

      .area-actions {
        display: flex;
        flex-direction: row;

        .item-action {
          width: 100%;
          text-align: center;
        }

        a {
          text-align: center;
          color: white;
        }

        .item-action-notify {
          position: relative;

          .count-notify {
            position: absolute;
            top: -2px;
            right: 0px;
            background-color: rgba(255, 0, 0, 0.87);
            border-radius: 50%;
            width: 7px;
            height: 7px;
          }
        }
      }

      .list-notify {
        display: none;
        position: absolute;
        left: 100%;
        width: 300px;
        height: 100vh;
        overflow: auto;
        text-align: left;
        top: 0;
        padding: 0;
        background-color: rgb(34, 34, 34);

        ul {
          list-style-type: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          margin: 0;
          padding: 0;

          .li-item-noti:hover {
            background-color: rgba(230, 230, 230, 0.116);
            cursor: pointer;
          }

          li {
            transition: all 0.1s;
            padding: 5px;
            border: 1.5px solid rgba(173, 173, 173, 0.733);
            margin: 10px;
            border-radius: 5px;

            .item-content-noti {
              color: white;
            }

            .title-noti {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-bottom: 5px;
            }

            .time-noti {
              text-align: right;
              font-size: 13px;
              font-size: 9px;
              margin-top: 10px;
            }

            .body-noti {
              font-size: 11px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }

  .menu {
    .vertical-menu {
      width: 100%;
      color: white;
    }

    .vertical-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        a {
          padding: 10px;
          color: white;
          text-decoration: none;
          display: flex;
          flex-direction: row;
          text-align: left;
          div.title-menu {
            width: 70%;
            text-align: left;
          }
          div.icon-menu {
            width: 30%;
            text-align: right;
            padding-right: 10px;
          }
        }
      }
    }

    .vertical-menu .sub-menu {
      display: block;
    }
    @media (hover: hover) {
      .vertical-menu li:hover > .sub-menu {
        display: block;
      }
      .vertical-menu .sub-menu li:hover > .sub-menu {
        display: block;
      }
    }
  }
}

// body {
//   font-family: Arial, sans-serif;
// }

// .menu {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
// }

// .menu > li {
//   position: relative;
// }

// .menu > li > a {
//   display: block;
//   padding: 10px 20px;
//   background-color: #007bff;
//   color: #fff;
//   text-decoration: none;
// }

// .menu > li > a:hover {
//   background-color: #0056b3;
// }

// .submenu {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
//   display: none; /* Initially hidden */
//   position: absolute;
//   left: 100%; /* For nested submenus */
//   top: 0;
// }

// .submenu li {
//   position: relative;
// }

// .submenu li a {
//   display: block;
//   padding: 10px 20px;
//   background-color: #6c757d;
//   color: #fff;
//   text-decoration: none;
// }

// .submenu li a:hover {
//   background-color: #5a6268;
// }
