<table class="table table-bordered table-inverse table-responsive">
  <tbody>
    <tr>
      <td>Mã hàng hóa</td>
      <td>{{ data.goodsCode }}</td>
    </tr>
    <tr>
      <td>Tên hàng hóa</td>
      <td>{{ data.name }}</td>
    </tr>
    <tr>
      <td>Danh mục</td>
      <td>{{ data.categoryName }}</td>
    </tr>
    <tr>
      <td>Người tạo</td>
      <td>{{ data.createdBy }}</td>
    </tr>
    <tr>
      <td>Ngày tạo</td>
      <td>{{ data.createdDate | customDate }}</td>
    </tr>
    <tr>
      <td>Người cập nhật</td>
      <td>{{ data.updatedBy }}</td>
    </tr>
    <tr>
      <td>Ngày cập nhật</td>
      <td>{{ data.updatedDate | customDate }}</td>
    </tr>
    <tr>
      <td>Mô tả hàng hóa</td>
      <td>{{ data.description }}</td>
    </tr>
  </tbody>
</table>
